/* You can add global styles to this file, and also import other style files */
@import "mediascreen", "variables", "mixin";
@import url(//fonts.googleapis.com/css?family=Montserrat:400,500,600|Oswald:300,500,700&display=swap&subset=cyrillic-ext);


* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
}
app-root {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  min-height: 2000px;
}
.bg-black {
  background-color: #000000;
  i {
    color: #fdcd00;
    margin-right: 5px;
  }
  app-nav {
    padding: 15px 0;
    -webkit-transition: .6s ease;
    transition: .6s ease;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    @include responsive(lg) {
      background-color: #ffffff;
      box-shadow: 0 0 2px rgba(0,0,0,.12);
      padding-top: 0;
    }
  }
}
#navhead {
  li {
    margin-right: 35px;
    @include responsive(lg) {
      margin-right: 0;
    }
  }
  a {
    padding: 10px 0;
    color: #212529;
    &:hover {
      color: #f44336;
      transition: .6s ease;
    }
  }
  div {
    margin-top: 10px;
  }
}
app-header {

  &.sticky-moving {
    position: sticky;
    top: -1px;
    transition: 1s all;
    app-nav {
      background-color: #333333;
    }
  }
}
.fs34osw300 {
  font-size: 34px;
  font-weight: 300;
  font-family: 'Oswald', sans-serif;
}
.fs28mm500 {
  font-size: 28px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}
.fs17mm600 {
  font-size: 17px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}
