<div class="bg-black position-relative">
    <div class="container">
      <div class="row flex-nowrap align-items-center text-white">
        <img class="mr-3" src="../../../assets/images/logo.png" alt="logo">
        <div class="fs34osw300">
          Общество кого-то там Германии
        </div>
        <div class="fs28mm500 d-none d-md-block ml-auto">
          <i class="fa fa-phone-alt"></i>
          <a href="tel:{{ this.phone.tel }}">{{ this.phone.phone }}</a>
        </div>
      </div>
    </div>
    <!-- /.container -->
    <app-nav></app-nav>
</div>
